*{
    padding: 0;
    margin: 0;
}

body {
    font-family: "Gabarito", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    margin: 3%;
}

.title {
    background-color: #111111;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    border: 5px solid #000000;
}

.inputBox {
    background-color: transparent;
    border: none;
    padding: 13px;
    margin-top: 10px;
    border: 2px solid #000000;
    width: 50%;
    font-size: medium;
    outline: none;
    color: white;
}

.inputBox::placeholder {
    color: White;
}

.btn {
    background-color: transparent;
    margin-top: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 20px;
    color: white;
    background-color: #111111;
    border: none;
    border: 2px solid #111111;
}

.btn:hover {
    background-color: #3c3c3c;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;

    background-color: #111111;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    width: 60%;
    margin-top: 10px;
}